/* Add CSS styling here */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */ 
/*my CSS start*/
* {
    /* border: 1px solid grey; */
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(224, 224, 224);
}

header {
    display: flex;
    flex-flow: column wrap;
}

nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(40, 43, 43);
    padding: 2%;
}

h1 {
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
}

a {
    padding: 2%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topImage {
    display: flex;
    justify-content: start;
    padding: 1%;
}

.topImage img {
    border-radius: 3px;
}

.topMaterial {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topMaterial p {
    padding-top: 2%;
    text-align: center;
    width: 60%;
}

h2 {
    text-align: center;
    padding-bottom: 2%;
}

/* button*/ 
.myProjects { 
    width: 20%;
    height: 3vh;
    color: white;
    background-color: rgb(65, 66, 66);
    border-radius: 5px;
    font-size: large;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.main img {
    width: 100%;
    height: 15vh;
    border-radius: 3px;
}

button {
    cursor: pointer;
    border-radius: 3px;
}

.main p {
    padding: 2%;
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: larger;
    font-style: italic;
}
/* button */
.contactMe {
    width: 10%;
    height: 3vh;
    text-align: center;
    align-items: center;
    color: white;
    background-color: rgb(65, 66, 66);
    border-radius: 5px;
    font-size: large;
}

